# Compiled binaries
/orderbook
/orderbook_cli
/orderbook_tests
orderbook_debug
*.out
*.exe
*.o
*.obj
*.bin

# Build folders
build/
cmake-build-*/
DerivedData/

# Xcode
*.xcuserdata/
*.xcuserstate
*.xcscmblueprint

# macOS
.DS_Store

# Editor
.vscode/
.idea/
.cph/
